extends layout

block content
  h1= title
  p
    b= "Upload CSV"
    br
    form(action="upload/", method="post", enctype="multipart/form-data")
      p
        b="Column separator: "
        select(name="separatorchr" size=1 multi=false)
          option(value="," label="Comma ,").form-control="Comma ,"
          option(value=";" label="Semi-Colon ;").form-control="Semi-Colon ;"
          option(value="\t" label="Tab \\t").form-control="Tab \\t"
        br
        b="Quotation character: "
        select(name="quotationchr" size=1 multi=false)
          option(value="\"" label="Double Quote \"").form-control="Double Quote \""
          option(value="\'" label="Single Quote '").form-control="Single Quote '"
        br
        b="Escape character: "
        select(name="escapechr" size=1 multi=false)
          option(value="\"" label="Double Quote \"").form-control="Double Quote \""
          option(value="\'" label="Single Quote '").form-control="Single Quote '"
      p
        b="Select CSV file: "
        input(type="file", name="csvFile")
      p
        input(type='submit', value='Upload!')
      p
        h1= "What does the convertor do?"
        img(src="images/ke.png", border="0")